body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* footer at larger screen */
@media only screen and (min-width: 580px) {
#footerheader{
  background-color: #ff0000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
#footerheader p{
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  padding-top: 10px;
}
#subscribebutton input{
  background-color: #ff0000;
  color: #ffffff;
  border: 1px solid white;
  margin-left: 10px;
}
#subscribebutton ::placeholder {
  color: #ffffff;
  opacity: 1; 
}
#subscribebutton button{
  border: 1px solid white;
  background-color: #0000ff;
  color: #ffffff;
}
#subscribebutton :hover{
  border: 1px solid white;
  background-color: #87CEEB;
  color: #000000;
}
.footerbody{
  background-color: #000000;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20px;
}
.footerbodyitems{
  display: flex; 
  flex-wrap: wrap;
}
.footeritems{
  width: 24%;
  padding-left: 1%;
}
.footeritems h5, .footeritems p{
  color: #ffffff;
  font-size: 12px;
}
.twitterposts{
  color: #00ff00;
}
.footersubbody{
  display: flex;
}
.paymentfooter{
  width: 24%;
  padding-left: 1%;
  display: flex;
  flex-direction: column;
}
.paymentfooter p{
  color: #00ff00;
  font-size: 12px
}
.connectfooter{
  width: 24%;
  padding-left: 1%;
  display: flex;
  flex-direction: column;
}
.connectfooter p{
  color: #00ff00;
  font-size: 12px
}
.socialicons{
  display: flex;
}
.footerlinebreak{
  color: #ffffff;
}
.copyright{
  color: #ffffff;
  font-size: 12px;
}
}

/* footer at small screen */
@media only screen and (max-width: 580px) {
  #footerheader{
    background-color: #ff0000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-bottom: 5px;
  }
  #footerheader p{
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    padding-top: 5px;
  }
  #subscribebutton input{
    background-color: #ff0000;
    color: #ffffff;
    border: 1px solid white;
    margin-left: 10px;
  }
  #subscribebutton ::placeholder {
    color: #ffffff;
    opacity: 1; 
  }
  #subscribebutton button{
    border: 1px solid white;
    background-color: #0000ff;
    color: #ffffff;
  }
  #subscribebutton :hover{
    border: 1px solid white;
    background-color: #87CEEB;
    color: #000000;
  }
  .footerbody{
    background-color: #000000;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
  }
  .footerbodyitems{
    display: flex; 
    flex-wrap: wrap;
  }
  .footeritems{
    width: 48%;
    padding-left: 1%;
  }
  .footeritems h5, .footeritems p{
    color: #ffffff;
    font-size: 12px;
  }
  .twitterposts{
    color: #00ff00;
  }
  .footersubbody{
    max-width: 100%;
    display: flex;
  }
  .paymentfooter{
    width: 48%;
    padding-left: 1%;
    display: flex;
    flex-direction: column;
  }
  .paymentfooter p{
    color: #00ff00;
    font-size: 12px
  }
  .connectfooter{
    width: 48%;
    padding-left: 1%;
    display: flex;
    flex-direction: column;
  }
  .connectfooter p{
    color: #00ff00;
    font-size: 12px
  }
  .socialicons{
    display: flex;
  }
  .footerlinebreak{
    color: #ffffff;
  }
  .copyright{
    color: #ffffff;
    font-size: 12px;
  }
  }

/* top for all sizes */
  .offers{
    background-color: #00ff00;
    width: 150px;
    border-top-left-radius: 10px;
    padding-left: 10px;
  }
  .searchhere{
    z-index: 1;
    background-color: #000000;
    width: 100%;
    padding-left: 10px;
    display: flex;
  }
   /* header at large screen */
@media only screen and (min-width: 650px) {
  .topheaderbar{
    background-color: #ffffff;
    display: flex;
    font-size: 12px;
    color: #ffffff;
    font-weight: 600;
  }
  .searchhere input{
    width: 200px;
  }
  .searchhere button{
    height: 37px;
    width: 37px;
    background-color: #ff0000;
  }
  .viewcart{
    text-align: center;
    cursor: pointer;
    display: flex;
    width: 120px;
  }
  .viewcart p{
    color: #ffffff;
  }

}
  .contactus{
    background-color: #ff0000;
    width: 130px;
    border-top-right-radius: 10px;
    padding-left: 10px;
  }
  .account{
    margin: auto;
  }
/* header at small screen */
@media only screen and (max-width: 650px) {
  .topheaderbar{
    background-color: #ffffff;
    display: flex;
    font-size: 12px;
    color: #ffffff;
    font-weight: 600;
    flex-direction: row;
  }
  .searchhere input{
    display: none;
  }
  .searchhere button{
    display: none;
  }
  .viewcart{
    text-align: center;
    cursor: pointer;
    display: flex;
    width: 90px;
  }
  .viewcart p{
    color: #ffffff;
    font-size: 10px;
  }
}
/* for all sizes */
.titlebar{
  display: flex;
  padding-left: 20px;
  padding-top: 7px;
  width:100%;
  z-index: 5050;
  background-color: #ffffff;
}
.mylogo{
  width: 8%;;
  display: flex;
}
.mylogo img{
  border-radius: 50px;
}
.mylogo p{
  color: #000000;
  font-weight: 600;
  font-size: 22px;
}

/* for larger screens above 730 */
@media only screen and (min-width: 730px) {
  .mymenu{
    padding-top: 15px;
    width: 50%;
  }
  .mymenu ul{
    list-style-type: none;
  }
  .mymenu ul li{
    display: inline;
    padding-left: 6%;
    justify-content: center;
    text-align: center; 
    cursor: pointer;
  }
  .myicons ul li{
    display: none;
  }
  .mymenuicon{
    display: none;
  }
  .telephonehere{
    width: 11%;
    padding-top: 15px;
    display: flex;
  }
  .emailhere{
    padding-left: 2px;
    width: 20%;
    padding-top: 15px;
    display: flex;
  }
  .getus{
    font-size: 10px;
  }
  .getus a{
    text-decoration: none;
    color: #000000;
  }
}
/* for medium screens */
@media screen and (max-width: 730px) and (min-width:400px) {
  .myicons{
    width: 60%;
    padding-top: 15px;
  }
  .mymenu ul li{
    display: none;
  }
  .myicons ul li{
    display: inline;
    padding-left: 12%;
    justify-content: center;
    text-align: center;
  }
  .mymenuicon{
    display: none;
  }
  .telephonehere, .emailhere{
    width: 10%;
    padding-top: 15px;
    margin-left: 2%;
    display: flex;
  }
  .getus{
    display: none;
  }
}
/* for smaller screens below 730 */
@media only screen and (max-width: 400px) {
  .mymenuicon{
    width: 60%;
  }
  .mymenu ul li{
    display: none;
  }
  .myicons ul li{
    display: none;
  }
  .mymenuicon{
    padding-top: 10px;
    padding-left: 20%;
    display: block;
  }
  .telephonehere{
    width: 17%;
    padding-top: 15px;
    margin-left: 3%;
    display: flex;
  }
  .emailhere{
    display: none;
  }
  .getus{
    display: none;
  }
}
/* mainmenu info */
/* for larger screens above 730 */
@media only screen and (min-width: 730px) {
.menumain{
  background-color: #EEEADE;
  width: 100%;
  padding: 8px;
  display: flex;
}
.menu1{
  width: 20%;
  max-width: 200px;
  height: auto;
  background-color: #ffffff;
}
.menu1 ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu1 ul li{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: 1px solid grey;
}
.menu3{
 display: none;
}
.menu3 ul{
  display: none;
 }
 .menu3 ul li{
  display: none;
 }
.imagecover{
  width: 70%;
  margin: auto;
}
.itemsicon{
  display: none;
}
}
/* for small screens below 730 */
@media only screen and (max-width: 730px) {
  .menumain{
    background-color: #EEEADE;
    width: 100%;
    padding: 8px;
    display: flex;
  }
  .menu1{
    display: none;
  }
  .menu1 ul{
    display: none;
  }
  .menu3{
    width: 20%;
    min-width: 135px;
    max-width: 200px;
    height: auto;
    background-color: #ffffff;
  }
  .menu3 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .menu3 ul li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-bottom: 1px solid grey;
  }
  .imagecover{
    width: 90%;
    margin: auto;
  }
  .itemsicon{
    display: block;
  }
}
/* items box */
.offersheader{
  text-align: center;
}
.offersheader h5{
  font-size: 20px;
  margin:0;
}
.itemsmainbox{
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}
.topitems {
  position: relative;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 5px;
}

.image {
  display: block;
  width: 200px;
  height: 150px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .6s ease;
}

.topitems:hover .overlay {
  width: 100%;
}

.text {
  color: white;
  font-size: 12px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* about us */
.aboutgrocery{
  height: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: #A9A9A9;
  margin-top: 10px;
}
.mission, .slogan, .location{
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.mission h6{
  color: #ffffff;
  font-size: 15px;
}
.mission p{
  color: #ffffff;
}
.slogan h6{
  color: #ffffff;
  font-size: 15px;
}
.slogan p{
  color: #ffffff;
}
.location h6{
  color: #ffffff;
  font-size: 15px;
}
.location p{
  color: #ffffff;
}
/* events side */
.eventmainbox{
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}
.topevents {
  position: relative;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 5px;
}

.image {
  display: block;
  width: 200px;
  height: 150px;
}

.overlayevent {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 30px;
  transition: .6s ease;
}

.topevents:hover .overlayevent {
  width: 100%;
  cursor: pointer;
}

.eventtext {
  color: white;
  font-size: 12px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#mytable1{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#searcharea{
  width: 30%;
  max-width: 300px;
  float: right;
  margin-right: 5%;
}
#searchbutton{
  width: 40px;
}
#paginationT2{
  padding-left: 5%;
}
#paginationT2 li{
  padding-left: 2px;
}